/*
              Globals
*/

:root {
  --primary: #36b37e;
  --secondary: #172b4d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #505f79;
}

.none {
  display: none;
}

li {
  list-style-type: none;
}

a:visited {
  color: inherit;
}

.pd-tp-bt {
  padding: 1em 0;
}

.pd-bt {
  padding: 0.5em;
}

.clr-secondary {
  color: var(--secondary);
}

.clr-primary {
  color: var(--primary);
}

.clr-bg-gray {
  background-color: #ebf0ee;
}

.block {
  display: block;
}

.abs {
  position: absolute;
}

html {
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
}

.flex {
  display: flex;
}

.main-header {
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.main-header h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.menu-list {
  display: none;
  padding-left: 20px;
  padding-top: 50px;
}

.menu-list li {
  padding: 0 30px;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
}

.menu a {
  color: #344563;
}

.menu:hover {
  cursor: pointer;
}

.headline {
  padding: 150px 20% 500px 20%;
  padding-top: 4em;
  background-image: url(./images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.social {
  width: 50%;
  margin: 0 auto;
  color: #505f79;
}

.headline-info {
  font-size: 0.9em;
  color: #172b4d;
  padding-top: 3em;
}

.social-ul {
  justify-content: space-between;
}

.social-ul a {
  color: #505f79;
}

.drop-down-mobile {
  width: 20%;
  height: 2px;
  background-color: #0d151e;
  margin: 0 auto;
  margin-bottom: 50px;
}

.drop-down {
  padding-top: 3em;
}

.wh-50 {
  width: 50px;
  height: 50px;
}

.wh-100 {
  width: 100px;
  height: 100px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 50%;
}

.btn:hover {
  border-color: black;
}

.works-title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
}

.underline {
  width: 15%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 5%;
  margin-top: 1em;
}

.underline:hover {
  background-color: #07aa66;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 5em;
}

.width100 {
  width: 100%;
}

.height50 {
  height: 50%;
}

.column {
  flex-direction: column;
}

.card-container {
  padding: 0 10%;
}

.card {
  height: 470px;
  justify-content: center;
  border: 2px solid #ebf0ee;
  border-radius: 8px;
  background-color: white;
}

.card a {
  color: #3a4a42;
}

.img-info {
  justify-content: space-around;
  padding: 0 0.5em;
}

.card-image {
  background-color: #ebf0ee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ul-skills {
  margin: 0 auto;
}

.ul-skills li {
  margin: 0 0.3em;
  font-size: 0.7em;
  padding: 7px 7px;
  border-radius: 5%;
  background-color: #ebf0ee;
  cursor: pointer;
}

.btn-more {
  background-color: #36b37f;
  padding: 7px;
  border-radius: 5%;
  color: #fff !important;
  width: 40%;
  margin: 0 auto;
}

.about-me {
  padding: 3em 0;
}

.about-me-bottom {
  display: flex;
  flex-direction: row;
  background-image: url(./images/cristal.png);
  background-repeat: no-repeat;
}

.about-me h1 {
  color: var(--secondary);
  font-size: 2em;
}

.btn-resume {
  display: inline-block;
  width: auto !important;
  margin-top: 1em;
  align-self: end;
}

.about-img-1 {
  top: 0;
  right: -2.8em;
  background-image: url(./images/about-me-pic-1);
}

.about-img-2 {
  bottom: 0;
  left: -2.8em;
  background-image: url(./images/about-me-pic-2);
}

.trd-section {
  padding: 0 10%;
}

.third-section-cls {
  background-color: #ebf0ee;
  border-radius: 3%;
  height: 350px;
  margin-bottom: 1em;
}

.third-section-h2 {
  color: #344563;
}

.third-section-ul-cls li {
  padding: 0.8em 0.5em;
  margin-top: 1em;
  background-color: #fff;
  color: #36b37e;
}

.third-section-ul-cls a {
  color: #36b37e;
}

.third-section-ul-cls {
  flex-wrap: wrap;
  justify-content: center;
}

.get-in-touch-container {
  padding: 5em 10%;
}

.get-in-touch-container h2 {
  font-size: 40px;
  color: #172b4d;
  padding-bottom: 30px;
}

.get-in-touch-container header {
  margin-bottom: 1em;
}

form {
  padding-bottom: 1em;
}

input {
  padding: 0.3em;
  color: #6b778c;
}

textarea,
input {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
  margin-bottom: 1em;
}

textarea {
  color: #091e42;
}

.submit {
  background-color: #36b37f;
  padding: 0.7em;
  border-radius: 2px;
  border: transparent;
  width: 40%;
  color: #fff;
}

.submit:hover {
  background-color: #037043;
}

.get-in-touch-social {
  width: 60%;
}

.get-in-touch-social ul {
  padding-bottom: 0.5em;
}

.contact-email:hover {
  color: #000;
}

.open_menu {
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-size: 20px;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 800;
  display: none;
}

.menu-icon {
  font-size: 20px;
  position: fixed;
  right: 40px;
  top: 10px;
  z-index: 900;
}

.open_menu li {
  padding: 10px;
}

.shape {
  background: #000;
  border-radius: 8px;
  width: 40%;
  height: 2px;
  margin: 0 auto;
}

.shape:hover {
  background: rgba(187, 182, 182, 0.315);
}

.welcome {
  transition-duration: 1s;
  animation-duration: 1s;
  animation-name: rotating;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.welcome:hover {
  transform: scale(1.1);
}

input:hover,
textarea:hover {
  transform: translate(3px);
  transform: scaleY(1.09);
  padding-left: 10px;
}

footer {
  margin-bottom: 10em;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1000000;
  background-color: #fff;
}
.modal-container h2 {
  font-size: 32px;
  line-height: 41px;
  font-weight: 600;
  padding: 15px 0;
}

.modal-container {
  padding: 5%;
  text-align:left;
}
.modal-picture {
  background-image: url(./images/Snapshoot-Portfolio.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  height: 220px;
  padding: 17px;
  font-size: 30px;
}

.modal-links {
  justify-content: start;
  padding: 15px 0 10px 0;
}
.modal-links  li{
  padding: 8px 12px;
  background-color: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
}

.modal-info {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.modal-buttons {
  padding-top: 10px;
  justify-content: space-around;
}
.modal-buttons a {
  text-align:center;
  width:45%;
  display:inline-block;
  padding: 12px 16px;
  color: #fff;
  background-color: #36b37f;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {

  .modal-container {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px auto;
  }

  .modal-wrapper{
    content: '';
    width: 100vw;
    position: fixed;
    top: 0;
    height: 100vh;
    backdrop-filter: blur(10px);
  }

  .modal-container h2 {
    float: left;
    color: #172b4d;
  }

  .modal-container .modal-buttons {
    float: right;
    white-space: nowrap;
  }

  .modal-container .modal-buttons a {
    width: 50%;
    padding: 12px 25px;
    margin-left: 10px;
  }

  .modal-container ul {
    clear: both;
  }

  .modal-container .modal-close-button {
    float: right;
  }

  .modal-close-button {
    padding: 8px;
    background-color: #ebecf0;
  }

  .modal-container .modal-picture {
    clear: both;
    background-image: url(./images/Snapshoot-Desk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width:100%;
  }

  .modal-container li {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #ebecf0;
  }

  .modal-info {
    padding-top: 50px;
    line-height: 30px;
    font-size: 16px;
  }

  .welcome {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }

  .menu-list li {
    padding: 0 20px;
    font-size: 15px;
    line-height: 20px;
  }

  .menu {
    padding-bottom: 10px;
  }

  .main-header {
    justify-content: center;
  }

  .social-ul {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .headline {
    padding-bottom: 11em;
    padding-top: 150px;
    background-image: none;
  }

  .headline-info {
    margin: 0 50px;
    line-height: 25px;
  }

  .drop-down {
    padding-top: 0;
  }

  .works-title {
    margin-top: 10em;
  }

  .works-title h1 {
    color: #172b4d;
  }

  .btn-more {
    padding: 10px;
    width: 50%;
    font-size: 14px;
  }

  .underline {
    display: none;
  }

  .grid {
    padding: 0 5%;
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }

  .card-container {
    padding-bottom: 3em;
  }

  .card-container .card {
    height: 350px;
  }

  .about-me p {
    margin: 0 20%;
  }

  .trd-section {
    display: flex;
    justify-content: space-between;
  }

  .third-section-cls {
    flex-basis: 32%;
    height: 300px;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
  }

  .get-in-touch-container {
    width: 100%;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-container h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
  }

  .form-container header,
  .form-container form {
    flex-basis: 45%;
  }

  .form-container header h2 {
    font-size: 1.8em;
    padding-top: 1em;
    font-weight: bold;
  }

  .shape {
    display: none !important;
  }

  .contact-email {
    display: none !important;
  }

  .desktop-line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.329);
  }

  .ul-bot {
    margin: 0 auto;
  }

  @keyframes sliding-nav {
    from {
      right: 0;
      opacity: 0.2;
    }

    to {
      right: 50%;
      opacity: 1;
    }
  }

  .card-container li {
    transition: transform 1s;
  }

  .card-container:hover > li {
    opacity: 0.3;
  }

  .card-container > li:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  .random {
    background-image: url(./images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer {
    width: 100%;
  }
}