/*
              Globals
*/

:root {
  --primary: #36b37e;
  --secondary: #172b4d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:visited {
  color: inherit;
}

.pd-tp-bt {
  padding: 1em 0;
}

.pd-bt {
  padding: 0.5em;
}

.clr-secondary {
  color: var(--secondary);
}

.clr-primary {
  color: var(--primary);
}

.clr-bg-gray {
  background-color: #ebf0ee;
}

.block {
  display: block;
}

.abs {
  position: absolute;
}

/*
              Typography
*/

html {
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
}

/*
              Header
*/

.flex {
  display: flex;
}

.main-header {
  justify-content: space-between;
  margin-bottom: 3em;
  text-align: center;
}

.menu-list {
  display: none;
  margin: 0 auto;
  justify-content: space-between;
}

.menu:hover {
  cursor: pointer;
}

/*
              Headline
*/

.social {
  width: 50%;
  margin: 0 auto;
  color: #505f79;
}

.headline-info {
  font-size: 0.9em;
  color: #172b4d;
}

.social-ul {
  justify-content: space-between;
}

/*
              Positioning the background images
*/

.wh-50 {
  width: 50px;
  height: 50px;
}

.wh-100 {
  width: 100px;
  height: 100px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.pic1 {
  background-image: url(./images/pic1);
  width: 70px;
  height: 70px;
  top: 3.3em;
  right: -1.3em;
}

.pic2 {
  background-image: url(./images/pic2);
  top: 8em;
  left: 0.3em;
}

.pic3 {
  background-image: url(./images/pic3);
  top: 13em;
  right: -5em;
  height: 100px;
  width: 100px;
}

.pic4 {
  background-image: url(./images/pic4);
  background-size: contain;
  top: 21em;
  left: -0.5em;
  width: 50px;
  height: 70px;
}

.pic5 {
  background-image: url(./images/pic5);
  top: 23em;
  right: 0.5em;
}

.pic6 {
  background-image: url(./images/pic6);
  width: 30px;
  height: 30px;
  top: 22em;
  left: 6em;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 50%;
}

.btn:hover {
  border-color: black;
}

.works-title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
}

.underline {
  width: 15%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 5%;
  margin-top: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 5em;
}

.width100 {
  width: 100%;
}

.height50 {
  height: 50%;
}

.column {
  flex-direction: column;
}

.card {
  height: 460px;
  justify-content: center;
  border: 2px solid #ebf0ee;
  border-radius: 8%;
  background-color: white;
}

.img-info {
  justify-content: space-around;
  padding: 0 0.5em;
}

.card-image {
  background-color: #ebf0ee;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.ul-skills {
  margin: 0 auto;
}

.ul-skills li {
  margin: 0 0.3em;
  font-size: 0.7em;
  padding: 3px 2px;
  border-radius: 5%;
  background-color: #ebf0ee;
  cursor: pointer;
}

.btn-more {
  background-color: #36b37f;
  padding: 0.5em;
  border-radius: 5%;
  color: #fff !important;
  width: 50%;
  margin: 0 auto;
}

.about-me {
  margin: 2em 0;
  position: relative;
  height: 300px;
}

.about-me h1 {
  color: var(--secondary);
  font-size: 2em;
}

.btn-resume {
  display: inline-block;
  width: auto !important;
  margin-top: 1em;
}

.about-img-1 {
  top: 0;
  right: -2.8em;
  background-image: url(./images/about-me-pic-1);
}

.about-img-2 {
  bottom: 0;
  left: -2.8em;
  background-image: url(./images/about-me-pic-2);
}

.third-section-cls {
  background-color: #ebf0ee;
  border-radius: 3%;
  height: 300px;
  margin-bottom: 1em;
}

.third-section-h2 {
  color: #344563;
}

.third-section-ul-cls li {
  padding: 0.8em 0.5em;
  margin-top: 1em;
  background-color: #fff;
  color: #36b37e;
}

.third-section-ul-cls {
  flex-wrap: wrap;
  justify-content: center;
}

.get-in-touch-container {
  padding-bottom: 5em;
  position: relative;
}

.get-in-touch-container h2 {
  font-size: 2.3em;
  color: #172b4d;
}

.get-in-touch-container header {
  margin-bottom: 1em;
}

form {
  padding-bottom: 1em;
}

input {
  padding: 0.3em;
  color: #6b778c;
}

textarea,
input {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
  margin-bottom: 1em;
}

textarea {
  color: #091e42;
}

.submit {
  background-color: #36b37f;
  padding: 0.7em;
  border-radius: 2px;
  border: transparent;
  width: 40%;
  color: #fff;
}

.submit:hover {
  background-color: #037043;
}

.get-in-touch-social {
  width: 60%;
}

.get-in-touch-social ul {
  padding-bottom: 0.5em;
}

.contact-email:hover {
  color: #000;
}

.shape {
  background: #000;
  border-radius: 8px;
  width: 40%;
  height: 3px;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.shape:hover {
  background: rgba(187, 182, 182, 0.315);
}

/*
        Animations
*/

.welcome {
  transition-duration: 1s;
  animation-duration: 1s;
  animation-name: rotating;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.welcome:hover {
  transform: scale(1.1);
}

input:hover,
textarea:hover {
  transform: translate(3px);
  transform: scaleY(1.09);
  padding-left: 10px;
}

@media screen and (min-width: 1024px) {
  .welcome {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-list {
    display: flex;
  }

  .menu {
    width: 30%;
    position: absolute;
    animation-name: sliding-nav;
    animation-duration: 2s;
    right: 50%;
    transform: translateX(50%);
  }

  .main-header {
    justify-content: center;
  }

  .social-ul {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .headline {
    padding-bottom: 7em;
  }

  .underline {
    display: none;
  }

  .grid {
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }

  .card-container {
    padding-bottom: 3em;
  }

  .trd-section {
    display: flex;
    justify-content: space-between;
  }

  .third-section-cls {
    flex-basis: 32%;
  }

  .get-in-touch-container {
    padding-top: 3em;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
  }

  .form-container header,
  .form-container form {
    flex-basis: 45%;
  }

  .form-container header h2 {
    font-size: 1.8em;
    padding-top: 1em;
    font-weight: bold;
  }

  .shape {
    display: none;
  }

  .contact-email {
    display: none;
  }

  .desktop-line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.329);
  }

  .get-in-touch-social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes sliding-nav {
    from {
      right: 0;
      opacity: 0.2;
    }

    to {
      right: 50%;
      opacity: 1;
    }
  }

  .card-container li {
    transition: transform 1s;
  }

  .card-container:hover > li {
    opacity: 0.3;
  }

  .card-container > li:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
}
