/*
              Globals
*/
:root {
  --primary: #36b37e;
  --secondary: #172b4d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow:hidden;
  overflow-y: scroll;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}


a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:visited {
  color: inherit;
}

.pd-tp-bt {
  padding: 1em 0;
}

.pd-bt {
  padding: 0.5em;
}

.clr-secondary {
  color: var(--secondary);
}

.clr-primary {
  color: var(--primary);
}

.block {
  display: block;
}

.abs {
  position: absolute;
}

/*
              Typography
*/
html {
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
}

/*
              Header
*/

.flex {
  display: flex;
}

.main-header {
  justify-content: space-between;
  margin-bottom: 3em;
}

.menu:hover {
  cursor: pointer;
}

/*
              Headline
*/

.social {
  width: 50%;
  margin: 0 auto;
  color: #505f79;
}

.headline-info {
  font-size: 0.9em;
  color: #172b4d;
}

.social-ul {
  justify-content: space-between;
}

/*
              Positioning the background images
*/

.wh-50 {
  width: 50px;
  height: 50px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.pic1 {
  background-image: url(./images/pic1);
  width: 70px;
  height: 70px;
  top: 3.3em;
  right: -1.3em;
}

.pic2 {
  background-image: url(./images/pic2);
  top: 8em;
  left: 0.3em;
}

.pic3 {
  background-image: url(./images/pic3);
  top: 13em;
  right: -5em;
  height: 100px;
  width: 100px;
}

.pic4 {
  background-image: url(./images/pic4);
  background-size: contain;
  top: 21em;
  left: -0.5em;
  width: 50px;
  height: 70px;
}

.pic5 {
  background-image: url(./images/pic5);
  top: 23em;
  right: 0.5em;
}

.pic6 {
  background-image: url(./images/pic6);
  width: 30px;
  height: 30px;
  top: 22em;
  left: 6em;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 50%;
}

.btn:hover {
  border-color: black;
}

.works-title 
{
  font-size:1.5em;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
}

.underline {
  width: 15%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 5%;
  margin-top: 1em;
}

.grid {
  display:grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 5em;
}

.width100 {
  width:100%;
}

.height50 {
  height: 50%;
}

.column {
  flex-direction:column;
}

.card 
{
  height:460px;
  justify-content: center;
  border:2px solid #ebf0ee;
  border-radius:8%;
  background-color:white;
}

.img-info {
  justify-content: space-around;
  padding: 0 0.5em;
}

.card-image {
  background-color:#ebf0ee;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.ul-skills {
  justify-content: space-between;
}

.ul-skills li 
{
  font-size: 0.7em;
  padding: 3px 2px;
  border-radius: 5%;
  background-color: #ebf0ee;
  cursor:pointer;
}

.btn-more{
  background-color: var(--primary);
  padding: 0.5em;
  border-radius: 5%;
  color:#fff;
  width:50%;
  margin:0 auto;
}


